bin
build
dist
javadocs
.settings

# Compiled class file
*.class

# Intellij Idea files
*.iml
.idea
outclasses
target
test-output

# Log file
*.log

# Manifests
*.MF
MANIFEST
/MANIFEST.MF
**/MANIFEST.MF
**/MANIFEST.*